* {
  padding: 0;
  margin: 0;
  outline: none;

}

html {
  size: 10px;
  font-family: "Lucida Sans", sans-serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  grid-row-gap: 3%;
}

.sections {
  background: linear-gradient(94.78deg, #1AAFA6 0%, #6C97D7 97.62%);  color: #ffffff;
}

.sections_columns {
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.sections_row {
  font-size: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.content {
  color: #ffffff;
  text-align: justify;
  border-radius: 5px 0px 0px 5px;
  background: linear-gradient(90deg, rgba(255, 64, 133, 0.1) 0%, rgba(91, 64, 255, 0.1) 100%);
}

.child_content {
  font-size: 17.8px;
  margin: 30px 20px;
  color: black;

}

@media only screen and (min-width: 1020px) {
  /* For desktop: */
  body {
    background-color: gold;
    padding: 20px;

  }
  .content{
    height: 480px;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

}

@media only screen and (max-width: 1020px) {
  /* For tablets: */
  body {
    background-color: gray;
    padding: 20px;

  }
  .content{
    padding-top: 100px;
    height: 480px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

 /* .content{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .footer {
    display: flex;
    flex-wrap: column wrap;
  }
  .test {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }*/
}

@media only screen and (max-width: 600px) {
  /* For phone: */
  body {
    display: grid;
    grid-template-rows: 1fr;
    padding: 0;
  }

  .header, .footer{
    height: 80px;
    width: 100%;
    position: fixed;
  }
  .header{
    top: 0;
}
.footer{
    bottom: 0;
}

  .col-3-4-headers {display: none;}
  .col-1-2-footers {display: none;}

  .sections_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .child_content {
    font-size: 17.8px;
    margin: 20px 20px 0px 20px;
    color: black;
  
  }
  .content {
    padding-top: 80px;
    padding-bottom: 100px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .footer{
    background: linear-gradient(91.83deg, #AF1A8F 0%, #FFA337 97.62%);
  }
}